<ion-header>
  <ion-navbar>
    <ion-title item-center>
      Tap N Press Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>Enter the right Code</h2>
        <p *ngIf="tapped !== 2 || pressed !== 4">2 Taps & 4 Presses</p>
        <p *ngIf="tapped === 2 && pressed === 4">You Won!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <p>Tapped: {{ tapped }}</p>
          </ion-item>
          <ion-item>
            <p>Pressed: {{ pressed }}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-action-buttons (didReset)="onDidReset($event)" (didIncrement)="onDidIncrement($event)"></app-action-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  
</ion-content>
